body{
	background-image: url(../images/restaurant.png);
	text-align: center;
}

.container{
	background-color: yellow;
	margin-top: 50px;
	height: 100%;
	
}

h1, h2 {
	text-align: center;
	margin: 10%;
}

.answer{
	text-align: center;
	align-self: center;
}

#timeDisplay{
	text-align: center;
}



