body{
	background-image: url(../images/restaurant.png);
}

.container{
	background-color: yellow;
	margin-top: 50px;
	
}

h1, h2, h3{
	text-align: center;
}
/*
h2{
	text-align: center;
}*/

.answer{
	text-align: center;
	align-self: center;
}

.button{
	align-self: center;
}